/* CRI Colors
rgb(177, 23, 49)
rgb(42, 43, 44) */

@font-face {
    font-family: "CRI";
    src: url("assets/Egiziano_CG.otf") format("opentype");
}

.bigtitle {
    color: rgb(177, 23, 49);
    font-weight: bold;
    border-bottom: 2px solid black;
}

a {
    color: rgba(177, 23, 49, 0.45);
    border-bottom: 2px solid rgba(177, 23, 49, 0.45);
    transition: color 0.2s ease 0s;
}

a:hover
{
    -webkit-transition: .2s;
    transition: color .2s;
    border-bottom: 2px solid rgb(177, 23, 49);
    color:rgb(177, 23, 49);
    text-decoration: none;
}

.brand {
    font-family: "CRI";
    color: rgb(177, 23, 49);
    font-size: 32px;
    text-shadow: 0.5px 0.5px 0.1px rgb(235, 234, 234);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 355px) {
    .brand {
        font-size: 27px;
    }
}

.navbar-custom {
    background-color: rgb(42, 43, 44);
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

html,
body {
    font-family: Ubuntu;
    background-color: rgb(42, 43, 44);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div#bg-white {
    min-height: 100vh;
    background-color: rgb(235, 234, 234);
}

#main-content {
    max-width: 800px;
    margin: auto;
    padding: 5% 0;
}

footer {
    color: white;
}

.footer-container {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(42, 43, 44);
    position: relative;
    height: 100px; /* Replace this with your footer's height */
    clear: both;
}

.footer {
    color: #f8f9fa;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 43, 44);
}

.content-container {
    padding-top: 70px; /* The value should match the height of your header */
    min-height: calc(
        100% - 170px
    ); /* Assuming 70px for header and 100px for footer */
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* High z-index to keep header above other elements */
}
