.brand
{
    font-family: "Ultra";
    color: rgb(177, 23, 49);
    font-size: 32px;
}

.brand:hover
{
    color: rgb(138, 18, 38);
}


.form-control
{
    border-radius: 30px;
}

.form-control-label
{
    margin-left: 1.5%;
}

.form-group .short
{
    width: 80%;
}

.navbar-custom
{
    background-color: rgb(42, 43, 44);
}

.nav-link
{
    font-size: 18px !important;
    color: rgba(233, 233, 233, 0.849) !important;
}

.nav-link:hover
{
    color: rgba(223, 223, 223, 0.6) !important;
}

body
{
    font-family: Ubuntu;
    background-color: rgb(235, 234, 234);
}
