/* CRI Colors
rgb(177, 23, 49)
rgb(42, 43, 44) */

.brand
{
    font-family: "CRI";
    color: rgb(177, 23, 49);
    font-size: 32px;
    text-shadow: .5px .5px 1px rgb(235, 234, 234);
}

.form-control
{
    border-radius: 30px;
}

.form-control-label
{
    margin-left: 1.5%;
}

.form-group .short
{
    width: 80%;
}

.navbar-custom
{
    background-color: rgb(42, 43, 44);
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

.nav-link
{
    font-size: 19px !important;
    color: rgba(233, 233, 233, 0.849) !important;
}

.nav-link:hover
{
    color: rgba(223, 223, 223, 0.6) !important;
}

/* Not doing anything right now but could be used later */
.navbar-toggler-icon
{
    color: blue;
    /* background-image: url("https://img.icons8.com/nolan/64/ruby-programming-language.png") !important; */

}

.form-control-md
{
    border-radius: 10px;
    border-color: grey;
    width: 100px;
    height: 125%;
    text-align: center;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

th
{
    background-color: rgb(177, 23, 49) !important;
    color: white !important;
}

html, body
{
    height: 100%;
    font-family: Ubuntu;
    background-color: rgb(235, 234, 234);
}

#main-content
{
    min-height: 100%;
}


.account-img
{
    width: 147px;
    height: 147px;
}

@media screen and (max-width: 770px){
    .account-img
    {
        width: 100px;
        height: 100px;
    }
    .navbar-custom
    {
        height: auto;
    }
}

.slider 
{
    -webkit-appearance: none;
    width: 73%;
    height: 15px;
    display: block;
    margin : 0 auto;
    border-radius: 5px;  
    background: #bebebe;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

@media screen and (max-width: 1000px) {
    .slider
    {
        height:10px
    }
    .slider::-webkit-slider-thumb 
    {
        width:16px;
        height:16px;
    }
    .slider::-moz-range-thumb 
    {
        width:16px;
        height:16px;
    }
}
  
.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(177, 23, 49);
    cursor: grab;
}

.slider::-moz-range-thumb 
{
    width: 25px;
    height: 25px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 50%;
    background: rgb(177, 23, 49);
    cursor: grab;
}

.slider.slider-yellow::-webkit-slider-thumb
{
    background: rgb(177, 133, 11) !important;
}


.slider.slider-yellow::-moz-range-thumb 
{
    background: rgb(177, 133, 11) !important;
}

.slider.slider-yellow.disabled
{
    opacity: .65;
}

.slider.slider-yellow.disabled::-webkit-slider-thumb
{
    cursor: default;
}

.slider.slider-yellow.disabled::-moz-range-thumb
{
    cursor: default;
}

select:disabled
{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}



label[for="enable_default"]
{
    font-size: larger;
}

.notes
{
    width:73%;
    border-radius:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.form-check-input-xl
{
    position: relative;
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 1vw;
    margin-top: .25vh;
}
@media screen and (min-width: 900px)
{
.nav-item.hover-effect:hover
{
    background-color: rgba(177, 23, 49, 1);
    border-radius: 2px;
}


.nav-item.hover-effect:hover .nav-link
{
    color:white !important;
    padding-left: 15px;
    padding-right: 15px;
    transform: scale(1.2);
    transition: transform .15s;
}

}

@media screen and (max-width:899px)
{
    #profile-dropdown
    {
        margin-right: auto;
        width:15%;
    }
}

.box
{
    border-style: solid;
    border-width: 2px;
    border-color: rgba(150, 150, 150, 0.7);
    user-select: none;
    list-style-type: none;
    text-align: center;
    width:50%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2%;
    background-color: white;
    position: relative;
}

#item-container
{
border-style:solid; 
padding: 20px;
border-width: 3px;
border-color: rgba(177, 23, 49, .5);
border-radius: 20px;
}

#register-card
{
    box-shadow: 0 5px 18px 0 rgba(0,0,0,0.4);
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    max-width: 500px;   
    height:auto;
    margin-bottom: 30px;
}

#search-card
{
    box-shadow: 0 5px 18px 0 rgba(0,0,0,0.4);
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    max-width: 800px;
    height: 70px;
}

.boxy
{
    border-radius: 5px;
}

header
{
    position: relative;
}

.alert
{
    position: absolute;
    top:0;
    width:100%;
}


.responsive-border
{
    display: inline-block;
    text-align: center;
    width:auto;
    margin:auto;
}

.rounded-circle-small
{
    border-radius: 50%;
    width:5vh;
    height: 5vh;
}

.form-control-md
{
    border-style: solid;
    border-color:rgba(160, 160, 160, .7);
    border-width: 1.5px;
}


.footer-container
{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background:#343a40;
}

.footer
{
    color:#f8f9fa;
    position: relative;
}



#not-found
{
    color: rgb(177, 23, 49);
    font-weight: bold;
    padding-left: 0;
}

#url
{
    color: #007bff;
}

.tooltip-inner
{
    max-width: auto !important;
    height: auto;
    font-size: 15px;
    padding: 10px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, .7);
    border: 1px solid #737373;
    text-align: left;
}

#creator-desc
{
    padding-bottom: 40px;
    border-bottom: rgba(0, 0, 0, .7);

}

.preview
{
    display:none;
    width:50%;
    height:50%;
}

.live_link:hover + .preview, .preview:hover
{
    display: block;
    position: absolute;
    z-index: 10;
}

.row
{
    position: relative !important;
}

.eyeball
{
    font-size: x-large;
    width:auto;
    display: inline;
    position: absolute;
    margin-top: .2vh;
    margin-left: 1vh;
}

.metric-button
{
    padding: 10px;
    margin-bottom: 20px;
    width: 28vh;
    color: white;
    border-radius: 5px;
    transition: border-radius 0.1s linear;
}

.metric-button:hover
{
    color:white;
    border-radius: 15px;
    transition: border-radius 0.05s linear;
}


.allow-eye
{
    margin-left:2%;
    fill:rgba(0, 0, 0, .3);
}

.allow-eye.active
{
    fill:rgba(0, 0, 0, .7);
}

.allow-eye:hover
{
    fill:rgb(94, 94, 94);
}

.modal-body h5
{
    font-size: large;
}

@media screen and (max-width: 760px) {
    .modal-body h5
    {
        font-size: smaller;
    }
}

@media screen and (max-width: 400px)
{
    .metric-button
    {
        font-size: smaller;
        width:26vh;
    }
    .eyeball
    {
        font-size: large;
    }
}

.metric-eye
{
    text-align: center;
    position: relative;
}


@font-face 
{
font-family: "CRI";
src: url("Egiziano_CG.otf") format("opentype");
}