.navbar .navbar-brand
{
    font-family: "Ultra";
    color: rgb(177, 23, 49);
    font-size: 4vh; 
}

.navbar .navbar-brand:hover
{
    color: rgb(138, 18, 38);
}


.navbar .navbar-brand:active
{
    color: rgb(177, 23, 49);
}

.form-control
{
    border-radius: 30px;
}


body
{
    background-color: rgb(212, 212, 212);
}
