.brand
{
    font-family: "Ultra";
    color: rgb(177, 23, 49);
    font-size: 32px;
}

.brand:hover
{
    color: rgb(138, 18, 38);
}


.form-control
{
    border-radius: 30px;
}

.form-group .short
{
    width: 80%;
}


body
{
    background-color: rgb(235, 234, 234);
}
