{% extends 'layout.html' %}

{% block title %}2k{% endblock title %}

{% block main %}
<div class='content-section'>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom border-dark mb-4" style="font-weight: 600;">Log 2k</legend>
            <div class="form-group short">
            {{ form.minutes.label(class="form-control-label") }}
            {% if form.minutes.errors %}
                {{ form.minutes(class="form-control-md ml-2 is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.minutes.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.minutes(class="form-control-md ml-2", placeholder="6", autocomplete="off") }}
            {% endif %}
            
            {{ form.seconds.label(class="form-control-label ml-2") }}
            {% if form.seconds.errors %}
                {{ form.seconds(class="form-control-md ml-2 is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.seconds.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.seconds(class="form-control-md ml-2", placeholder="45", autocomplete="off") }}
            {% endif %}
            </div>
            <div class="form-group short">
                {{ form.date.label(class="form-control-label") }}
                {% if form.date.errors %}
                    {{ form.date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="row">
            <div class="form-group col">
                {{ form.submit(class="btn btn-outline-danger rounded-pill") }}
            </div>
        </div>
    </form>
</div>
{% endblock main %}

