{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block main %}

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ image_file }}" alt="Profile Image" class="rounded-circle account-img">
            </div>
            <div class="col-sm-4">
                <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
    {% if current_user.id != user.id %}
                <p><strong>Grade: </strong>{% if user.grade %}{{ user.grade }}{% else %}No grade{% endif %}</p>
                <p><strong>Team: </strong>{% if user.team != "none" %}{{ user.team }}{% else %}No team{% endif %}</p>
                <p><strong>Side: </strong>{% if user.side != "none" %}{{ user.side }}{% else %}No side{% endif %}</p>
                {% if user.height %}
                <p><strong>Height: </strong>{{ (user.height / 12) | int }}'{{ user.height % 12 }}"</p>
                {% endif %}
                {% if user.weight %}
                <p><strong>Weight: </strong>{{ user.weight }}lbs</p>
                {% endif %}
                </div>
            <div class="col-sm-4">
                <h2>Scores</h2>
                <p><strong>2k PR: </strong>{{ twok }}</p>
                <p><strong>5k PR: </strong>{{ fivek }}</p>
            </div>
        </div>
      </div>
    {% if current_user.team == user.team %}
    <legend class="border-bottom border-dark mb-2" style="font-weight: 600;">Set Ratings</legend>
    <p><span style="color:#007bff;">Blue</span> means you have set that metric, <span style="color:#dc3545;">Red</span> means you still need to. &#128064; means the user can view that metric.</p>
    <svg width="0" height="0">
        <defs>
            <linearGradient id="CurveGradient" x1="0" x2=".75" y1="0" y2="0">
                <stop offset="50%" stop-color="rgba(223,23,34,.5)"/>
                <stop offset="100%" stop-color="rgba(223,23,200,.5)"/>
            </linearGradient>
        </defs>
    </svg>
    <script>
        let button_class = "btn-success"
        let is_checked = ""
        {% for metric in all_metrics %}
            {% if metric.has_set %}
                button_class = "btn-primary";
            {% else %}
                button_class = "btn-danger";
            {% endif %}

            {% if metric.view_allowed %}
                is_checked = "checked";
            {% else %}
                is_checked = "";
            {% endif %}


            drawCoachBellCurve("{{ metric.tag }}", "{{ metric.name }}", "{{ metric.desc }}", {{ metric.coach_rating }}, {{ metric.coach_importance }}, button_class, is_checked, "{{ user.firstname }}");
        {% endfor %}
    </script>
    {% endif %}
    {% else %}
    <p><strong>Coaches for: </strong>{{ current_user.team }}</p>
    {% endif %}
</div>

{% endblock main %}