{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block main %}
<a class="p-3" href="{{ url_for('roster')}}" id="back-button"><span>To Roster</span></a>
<div class="content-section" style="margin-top: 5px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ image_file }}" alt="Profile Image" class="rounded-circle account-img">
            </div>
            <div class="col-sm-4">
                <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
    {% if current_user.id != user.id %}
                <p><strong>Grade: </strong>{% if user.grade %}{{ user.grade }}{% else %}No grade{% endif %}</p>
                <p><strong>Team: </strong>{% if user.team != "none" %}{{ user.team }}{% else %}No team{% endif %}</p>
                {% if not user.is_coxswain %}
                    <p><strong>Side: </strong>{% if user.side == "Port" or user.side == "Starboard" %}{{ user.side }}{% elif user.side == "BothP" %}Both (Port Preference){% elif user.side == "BothS" %}Both (Starboard Preference){% else %}No side{% endif %}
                    {% if user.height %}
                    <p><strong>Height: </strong>{{ (user.height / 12) | int }}'{{ user.height % 12 }}"</p>
                    {% endif %}
                    {% if user.weight %}
                    <p><strong>Weight: </strong>{{ user.weight }}lbs</p>
                    {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <h2>Scores</h2>
                        <p><strong>2k PR: </strong>{{ twok }}</p>
                        <p><strong>5k PR: </strong>{{ fivek }}</p>
                    </div>
                {% endif %}
        </div>
      </div>
        {% if user.pinged %}
        <p class="border-bottom border-dark mt-3"></p>
        <h5>{{ user.firstname }} has requested review!</h5>
        <div>
            <form method="POST" action="">
                <div class="form-group ">
                    <input type="hidden" value="silence" name="form_identifier"/>
                    <button type="submit" class="btn btn-outline-primary rounded-pill" >Silence Request</button>
                </div>
            </form>
        </div>
        {% endif %}
    {% if current_user.team == user.team %}
    <legend class="border-bottom border-dark mb-2" style="font-weight: 600;">Set Ratings</legend>
    <p><span style="color:#007bff; font-weight: bold;">Blue</span> means you have set that metric, <span style="color:#dc3545; font-weight: bold;">Red</span> means you still need to. <span style="color:indigo; font-weight: bold;">Indigo</span> means {{ user.firstname }} has indicated their rating for that metric.<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="22" height="22"
        viewBox="0 0 30 30"
        style="fill:#000000; margin-bottom: 1px; margin-left: 8px; margin-right: 3px;"><path d="M 15 5 C 6.081703 5 0.32098813 14.21118 0.21679688 14.378906 A 1 1 0 0 0 0 15 A 1 1 0 0 0 0.16210938 15.544922 A 1 1 0 0 0 0.16601562 15.550781 C 0.18320928 15.586261 5.0188313 25 15 25 C 24.938822 25 29.767326 15.678741 29.826172 15.564453 A 1 1 0 0 0 29.837891 15.544922 A 1 1 0 0 0 30 15 A 1 1 0 0 0 29.785156 14.380859 A 1 1 0 0 0 29.783203 14.378906 C 29.679012 14.21118 23.918297 5 15 5 z M 15 8 C 18.866 8 22 11.134 22 15 C 22 18.866 18.866 22 15 22 C 11.134 22 8 18.866 8 15 C 8 11.134 11.134 8 15 8 z M 15 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 18 A 3 3 0 0 0 18 15 A 3 3 0 0 0 15 12 z"></path></svg>  means that the user can view that metric.</p>
    <svg width="0" height="0">
        <defs>
            <linearGradient id="CurveGradient" x1="0" x2=".75" y1="0" y2="0">
                <stop offset="50%" stop-color="rgba(223,23,34,.5)"/>
                <stop offset="100%" stop-color="rgba(223,23,200,.5)"/>
            </linearGradient>
        </defs>
    </svg>
    <script>
        let button_class = "btn-success"
        let active = ""
        let has_update = false
        {% for entry in entries %}
            {% if not entry.has_update %}
                button_color = "indigo";
            {% elif entry.has_set %}
                button_color = "#007bff";
            {% else %}
                button_color = "#dc3545";
            {% endif %}

            {% if entry.view_allowed %}
                active = "active";
            {% else %}
                active = "";
            {% endif %}

            {% if entry.has_update %}
                has_update = true
            {% else %}
                has_update = false
            {% endif %}

            drawCoachBellCurve(has_update, `{{ entry.tag }}`, `{{ entry.name }}`, `{{ entry.desc }}`, {{ entry.coach_rating }}, {{ entry.coach_importance }}, {{ entry.user_rating }}, `{{ entry.note }}`, button_color, active, `{{ user.firstname }}`);
        {% endfor %}
    </script>
    {% endif %}
    {% else %}
    <p><strong>Coaches for: </strong>{{ current_user.team }}</p>
    {% endif %}
</div>

{% endblock main %}