{% extends 'layout.html' %}

{% block title %}Contact Us{% endblock title %}

{% block main %}
<h1 style="color: rgb(177, 23, 49); font-weight: bold; border-bottom: 2px solid black;">Contact Us</h1>
<h2>Having account issues?</h2> 
<p>Ask your head coach for help with resetting your password or changing your name.</p>
<h2>Having website issues?</h2>
<p>Feel free to contact either of us with any issues you find or feedback you'd like to give.</p>

<h5><span style="font-weight: bolder;">Albert Astrom</span> - <a href="mailto:albert.astrom@me.com">albert.astrom@me.com</a></h5>
<h5><span style="font-weight: bolder;">Hector Astrom</span> - <a href="mailto:hector.astrom@me.com">hector.astrom@me.com</a></h5>
<!-- contact coach for name and password changes -->
<!-- contact Albert or Hector for any website issues  -->
{% endblock main %}