{% extends "layout.html" %}

{% block title %}Home{% endblock title %}


{% block main %}

{% if current_user.is_authenticated %}

    {% if current_user.is_coach %}

        <h1>You're logged in, Coach {{ current_user.lastname }}.</h1>

        {% if current_user.team == "none" %}
            <h3>You haven't yet specified your <strong>team</strong>. Head to <a href="{{ url_for('settings') }}">Settings</a> to do so.</h3>
        {% else %}
            <h3>You are currently coaching <strong>{{ current_user.team }}</strong>. </h3>
        {% endif %}

    {% else %}

        <h1>You're logged in, {{ current_user.firstname }}.</h1>

        {% if current_user.team == "none" or current_user.side == "none" %}
            <h3>I notice you haven't specified your <strong>side</strong> and <strong>team</strong>. Head to <a href="{{ url_for('settings') }}">Settings</a> to do so.</h3>
        {% endif %}

    {% endif %}

    <!-- If side or team is none, prompt setup in homepage -->
{% else %}
        <h1 style="text-align: center;">Welcome to <span style="color: rgb(177, 23, 49); font-weight: bold;">CRInteractive!</span></h1>
        <h2 style="text-align: center;">Check your email to create an account or log in <a href="{{ url_for('login') }}">here.</a></h2>
{% endif %}

{% endblock main %}
