{% extends "layout.html" %}

{% block title %}Home{% endblock title %}
{% block content %}CRInteractive is a site created for members of the Community Rowing Inc. community. The site helps increase athlete-coach transparency.{% endblock %}


{% block main %}

{% if current_user.is_authenticated %}

    {% if current_user.is_coach %}

        <h1>You're logged in, Coach {{ current_user.lastname }}.</h1>

        {% if current_user.team == "none" %}
            <h3>You haven't yet specified your <strong>team</strong>. Head to <a href="{{ url_for('settings') }}">Settings</a> to do so.</h3>
        {% else %}
            <h3>You are currently coaching <strong>{{ current_user.team }}</strong>. </h3>
        {% endif %}

    {% else %}

        <h1>You're logged in, {{ current_user.firstname }}.</h1>

        {% if current_user.side == "none" and not current_user.is_coxswain %}
            <h3>Head to <a href="{{ url_for('settings') }}">Settings</a> to customize your profile.</h3>
        {% endif %}

    {% endif %}

    <!-- If side or team is none, prompt setup in homepage -->
{% else %}
        <h1 style="text-align: center;">Welcome to <span style="color: rgb(177, 23, 49); font-weight: bold;">CRInteractive!</span></h1>
        <h2 style="text-align: center;">Check your email to <a href="{{ url_for('search_code') }}">create an account</a> or log in <a href="{{ url_for('login') }}">here.</a></h2>
        <div class="row justify-content-center mt-4">
            <iframe id="tutorial" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/IJJo3AUF5e8?autoplay=1&mute=1">
            </iframe>
        </div>
{% endif %}

{% endblock main %}
