{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block main %}
    <div class="content-section">
        <div class="media">
            <div class="row">
                <div class="col-8">
                    <img src="{{ image_file }}" alt="Profile Image" class="rounded-circle account-img">
                </div>
                <div class="col-4">
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
                        <p class="text-secondary"><strong>Team: </strong>{{ user.team }}</p>
                        <p class="text-secondary"><strong>Side: </strong>{{ user.side }}</p>
                    </div>
                </div>
            </div>
            
        </div>
        {% if current_user.coach_key != "000000" %}
        <form action="" method="POST">
            <legend class="border-bottom border-dark mb-4" style="font-weight: 600;">Set Ratings</legend>
            <!-- <svg width="800" height="520" viewBox="0 0 702 422" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path 
                    id = "tech_coach_curve"
                    d="M1 421C50 415 148.8 395.6 176 342C203.2 288.4 265 143 280 79C295.333 51 310 1 351 1C392 1 406.667 51 422 79C437 143 498.8 288.4 526 342C553.2 395.6 652 415 701 421" 
                    stroke="black"/>
                <circle
                    r="10"
                    cy="0"
                    cx="0"
                    id="tech_coach_dot"
                    style="fill: rgb(177, 23, 49)" />
            </svg> -->
            <svg
                width="100%"
                height="100%"
                viewBox="0 0 320 210"
                version="1.1"
                id="svg5"
                style="margin-bottom:-350px;"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <defs
                    id="defs2" />
                <g
                    id="layer2">
                    <path
                    style="fill:#df1722;fill-opacity:0.529138;stroke:#000000;stroke-width:2.365;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 43.19351,92.098556 c 0,0 19.633412,1.07091 37.48197,-11.42308 17.848559,-12.49399 32.48437,-36.054082 32.48437,-36.054082 0,0 17.55469,-24.234497 20.41046,-27.528229 2.0916,-2.412365 10.16471,-12.6418523 21.58779,-12.2848823 11.42307,0.356971 18.32988,5.1869094 24.39839,12.6833043 6.06851,7.496392 28.11147,38.775991 28.11147,38.775991 0,0 19.6434,24.001346 27.35292,27.888368 7.66874,3.866459 10.50607,5.916948 30.90469,7.18536"
                    id="tech_coach_curve" />
                </g>
                <circle
                    r="5"
                    cy="0"
                    cx="0"
                    id="tech_coach_dot"
                    style="fill: rgb(177, 23, 49)" />
            </svg>
            <script>
                window.onload = () => {
                    let dot = document.getElementById('tech_coach_dot');
                    let curve = document.getElementById('tech_coach_curve');
                    let slider = document.getElementById('tech_coach_slider')
                    let totalLength = curve.getTotalLength();
                    let displacement = 0

                    var portion = slider.value/100.0 + displacement;
                    var coordinates = curve.getPointAtLength(portion * totalLength);
                    dot.setAttribute("transform", `translate(${coordinates.x}, ${coordinates.y})`);

                    slider.oninput = function() {
                        portion = this.value/100.0 + displacement;
                        coordinates = curve.getPointAtLength(portion * totalLength);
                        dot.setAttribute("transform", `translate(${coordinates.x}, ${coordinates.y})`);
                    }
                    
                    
                }
            </script>
            <p class="form-text text-muted text-center">Technique</p>
            <div class="form-group short">
                <div class="slidecontainer">
                    {% if technique %}
                    <input type="range" min="1" max="100" value="{{ technique.coach_rating }}" class="slider" id="tech_coach_slider" name="coach_rating">
                    {% else %}
                    <input type="range" min="1" max="100" value="50" class="slider" id="slider" name="coach_rating">
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col text-center pt-3">
                    <button type="submit" class="btn btn-outline-danger rounded-pill">Update</button>
                </div>
            </div>
        </form>
            
        {% endif %}
    </div>
{% endblock main %}