{% extends "layout.html" %}

{% block title%}
    Rankings
{% endblock %}

{% block main%}
    <script   script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <h2>2K Rankings</h2> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>2k</th>
                <th>Date</th> 
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('profile', id=user['id']) }}">{{ user["name"] }}</a></td>
                <td>{{ user["twok"]}}</td>
                <td>{{ user["date"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div>
        <canvas id="2KChart" width="900" height="400">
            <script>
                var ctx = document.getElementById("2KChart").getContext("2d")
                var barGraph = new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: {{ labels | safe }},
                        datasets: [
                            {
                                label: "2K Time",
                                data: {{ values | safe }},
                                fill: false,
                                borderWidth: 3,
                                borderColor: {{ border_colors | safe }},
                                backgroundColor: {{ background_colors | safe }}
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            yAxes: [ {
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    text: 'Time'
                                }
                            } ]
                        }
                    }
                });
            </script>
        </canvas>
    </div>
{% endblock%}