{% extends "layout.html" %}

{% block title%}
    Rankings
{% endblock %}

{% block main%}

    <h2>2k Rankings</h2> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>2k</th>
                <th>Date</th> 
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user["name"] }}</td>
                <td>{{ user["twok"]}}</td>
                <td>{{ user["date"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock%}