{% extends "layout.html" %}

{% block title %}Register{% endblock title %}
{% block content %}Register your account for CRInteractive.{% endblock %}

{% block main %}
    <div class='content-section'>
        <div class="card" id="register-card">
            <div class="card-body">
                <h4 class="card-title border-bottom border-dark">Account Information</h4>
                <p class="card-text"><strong>Name: </strong>{{ user.firstname }} {{ user.lastname }}</p>
                <p class="card-text"><strong>Email: </strong>{{ user.email }}</p>
                <p class="card-text"><strong>Team: </strong>{{ user.team }}</p>
                <p class="card-text"><strong>Role: </strong>{% if user.is_coxswain %}Coxswain{% elif user.is_coach %}Coach{% else %}Rower{% endif %}</p>
            </div>
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom border-dark mb-4" style="font-weight: 600;">Create Password</legend>
                <div class="form-group short">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="form-group short">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg", autocomplete="off") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="row">
                <div class="form-group col">
                    {{ form.submit(class="btn btn-outline-danger rounded-pill") }}
                </div>
            </div>
        </form>
    </div>
    <div class="border-top border-dark pt-3">
        <small class="text-muted">
            Already signed up? <a href="{{ url_for('login') }}">Log in here.</a>
        </small>
    </div>
{% endblock main %}
