{% extends "layout.html" %}

{% block title %}Register{% endblock title %}


{% block main %}
    <div class='content-section'>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom border-dark mb-4" style="font-weight: 600;" data-toggle="tooltip" title="test">Create Coach Account</legend>
                <div class="form-group short">
                    {{ form.firstname.label(class="form-control-label") }}

                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="form-group short">
                    {{ form.lastname.label(class="form-control-label") }}
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group short">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group short">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group short">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group short">
                    {{ form.coach_key.label(class="form-control-label", data_toggle="tooltip", title="The key provided for all coaches") }}
                    {% if form.coach_key.errors %}
                        {{ form.coach_key(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.coach_key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.coach_key(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="row">
                <div class="form-group col">
                    {{ form.submit(class="btn btn-outline-danger rounded-pill") }}
                </div>
            </div>
        </form>
    </div>
    <div class="border-top border-dark pt-3">
        <small class="text-muted">
            Already signed up? <a href="{{ url_for('login') }}">Log in here.</a>
        </small>
    </div>
{% endblock main %}
