{% extends "layout.html" %}

{% block title%}
    Roster
{% endblock %}

{% block main %}
    <script>
        $(function() {
            enableSorting()
        });
    </script>
    
    <!-- If they're a coach -->
    {% if current_user.is_coach %}
        {% if current_user.team != "none" %}
            <h2>Roster</h2> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for athlete in athletes %}
                    <tr>
                        <td>
                            {%if athlete.pinged%}
                            <img src="{{ url_for('static', filename='bluedot.png') }}" width="15px" height="15px" style="margin-bottom: 1%;">
                            {% endif %}
                            <a href="{{ url_for('profile', firstname=athlete.firstname.lower(), id=athlete.id) }}">
                            
                            {{ athlete.firstname + " " + athlete.lastname }}
                        
                            </a>
                        
                        </td>
                        {% if athlete.grade %}
                            <td>{{ athlete.grade }}</td>
                        {% else %}
                            <td>No information</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>You have not selected a team yet. Head to <a href="{{ url_for('settings') }}">Settings</a> to do so.</h2>
        {% endif %}
    {%else%}
        <h1 style="color:red;">Access Denied</h1>
    {%endif%}
    
{% endblock%}