{% extends "layout.html" %}

{% block title%}
    Rankings
{% endblock %}

{% block main%}
    <!-- If they're a coach -->
    {% if current_user.coach_key != "000000" %}
        {% if current_user.team != "none" %}
            <h2>Roster</h2> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for athlete in athletes %}
                    <tr>
                        <td><a href="{{ url_for('profile', id=athlete.id) }}">{{ athlete.firstname + " " + athlete.lastname }}</a></td>
                        {% if athlete.grade %}
                            <td>{{ athlete.grade }}</td>
                        {% else %}
                            <td>No information</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $(function() {
                    $("#sortable").sortable();
                    $("#sortable").disableSelection()
                });
            </script>
            <ul class="sortable">
                {% for athlete in athletes %}
                    <li>{{ athlete.firstname }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>You have not selected a team yet. Head to <a href="{{ url_for('settings') }}">Settings</a> to do so.</h2>
        {% endif %}
    {%else%}
        <h1 style="color:red;">Access Denied</h1>
    {%endif%}
    
{% endblock%}