{% extends "layout.html" %}

{% block title %}Search Account Code{% endblock %}


{% block main %}
<form method="POST" action="">
    <h4 class="border-bottom border-dark">Search with Code From Email</h4>
    <div class="form-group short mt-3">
        <input type="text" class="form-control form-control-lg" placeholder="Ex: {{ random_num }}" name="search_code" autocomplete="off">
    </div>
    <div class="row justify-content-center pl-4 pr-4">
        <small class="text-muted">Enter the code you received in your email to finish setting up your account!</small>
    </div>
    <div class="row justify-content-center mt-4">
        <button class="btn btn-outline-danger rounded-pill" type="submit">Search</button>
    </div>
</form>
{% endblock %}