{% extends 'layout.html' %}

{% block title %}Settings{% endblock title %}

{% block main %}
<div class='content-section'>
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom border-dark mb-4" style="font-weight: 600;">Settings</legend>
            {% if current_user.coach_key != "000000" %}
                <div class="form-group short">
                    <select class="form-select form-control form-control-lg" aria-label="Team Selector" name="team">
                        <!-- Teams is a list of team names gotten from the database -->
                        {% if current_user.team == "none" %}
                            <option disabled selected>Choose Team</option>
                        {% endif %}
                        {% for team in teams %}
                        {% if current_user.team == team %}
                            <option selected value='{{ team }}'>{{ team }}</option>
                        {% else %}
                            <option value='{{ team }}'>{{ team }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div> 
            {%else%}
                <div class="form-group short">
                    <select class="form-select form-control form-control-lg" aria-label="Side Selector" name="side">
                        {% if current_user.side == "none" %}
                            <option disabled selected>Choose Side</option>
                            <option value="Port">Port</option>
                            <option value="Starboard">Starboard</option>
                        {% elif current_user.side == "Port" %}
                            <option disabled>Choose Side</option>
                            <option selected value="Port">Port</option>
                            <option value="Starboard">Starboard</option>
                        {% else %}
                            <option disabled>Choose Side</option>
                            <option value="Port">Port</option>
                            <option selected value="Starboard">Starboard</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group short">
                    <select class="form-select form-control form-control-lg" aria-label="Team Selector" name="team">  
                        <!-- Teams is a list of team names gotten from the database -->
                        {% if current_user.team == "none" %}
                            <option disabled selected>Choose Team</option>
                        {% endif %}
                        {% for team in teams %}
                        {% if current_user.team == team %}
                            <option selected value='{{ team }}'>{{ team }}</option>
                        {% else %}
                            <option value='{{ team }}'>{{ team }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group short">
                    <select class="form-select form-control form-control-lg" aria-label="Grade Selector" name="grade">  
                        <!-- Teams is a list of team names gotten from the database -->
                        {% if not current_user.grade %}
                            <option disabled selected>Choose Grade</option>
                        {% endif %}
                        {% for grade in grades %}
                            {% if current_user.grade == grade %}
                                <option selected value='{{ grade }}'>{{ grade }}th</option>
                            {% else %}
                                <option value='{{ grade }}'>{{ grade }}th</option>
                            {% endif %}
                        {% endfor %}
                        
                    </select>
                </div>
                <small class="form-text text-muted ml-2">Pounds</small>
                <div class="form-group short">
                    {% if not current_user.weight %}
                    <input type="text" class="form-control" name="weight" placeholder="Enter weight (optional)">
                    {%else%}
                    <input type="text" class="form-control" name="weight"  value="{{ current_user.weight }}">
                    {%endif%}
                </div>
                <small class="form-text text-muted ml-2">Feet</small>
                <div class="form-group short">
                    <select class="form-select form-control form-control-lg" aria-label="Feet" name="feet">  
                        <!-- Teams is a list of team names gotten from the database -->
                        {% if user_feet == -1 %}
                            <option disabled selected>Select feet (optional)</option>
                        {% endif %}
                        {% for foot in possible_feet %}
                        {% if user_feet == foot %}
                            <option selected value='{{ foot }}'>{{ foot }}</option>
                        {% else %}
                            <option value='{{ foot }}'>{{ foot }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <small class="form-text text-muted ml-2">Inches</small>
                <div class="form-group short">
                    <select class="form-select form-control form-control-lg" aria-label="Inches" name="inch">  
                        <!-- Teams is a list of team names gotten from the database -->
                        {% if user_inches == -1 %}
                            <option disabled selected>Select inches (optional)</option>
                        {% endif %}
                        {% for inch in possible_inches %}
                        {% if user_inches == inch %}
                            <option selected value='{{ inch }}'>{{ inch }}</option>
                        {% else %}
                            <option value='{{ inch }}'>{{ inch }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- <div class="form-group short">
                    {% if not current_user.height %}
                    <input type="text" class="form-control" name="height" placeholder="Enter height (optional)">
                    {%else%}
                    <input type="text" class="form-control" name="height" placeholder="{{ current_user.height }}">
                    {%endif%}
                    <small class="form-text text-muted ml-2">Feet</small>
                </div>
                <div class="form-group short">
                    {% if not current_user.weight %}
                    <input type="text" class="form-control" name="inches" placeholder="Enter inches (optional)">
                    {%else%}
                    <input type="text" class="form-control" name="inches" placeholder="{{ current_user.height }}">
                    {%endif%}
                    <small class="form-text text-muted ml-2">Inches</small>
                </div> -->
            {%endif%}
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div> -->
        </fieldset>
        <div class="row">
            <div class="form-group col">
                <button type="submit" class="btn btn-outline-danger rounded-pill">Update</button>
            </div>
        </div>
    </form>
</div>
{% endblock main %}

