{% extends "layout.html" %}

{% block title%}
    Team
{% endblock %}

{% block main %}
    
    <h2>{{ current_user.team }}</h2> 
    <input type="text" id="tableSearch" class="form-control w-100 boxy p-3 mb-2 mt-1" onkeyup="searchTable('tableSearch', 'teamTable', 'emptyMessage', false)" placeholder="Search Users...">
    <table id="teamTable" class="table table-striped table-responsive w-100 d-block d-md-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <a class="account" href="{{ url_for('profile', firstname=user.firstname.lower(), id=user.id) }}">
                    {{ user.firstname + " " + user.lastname }}
                    </a>
                    {% if user.id == current_user.id %} (You) {% endif %}
                </td>
                <td>
                    {% if user.is_coxswain %}
                        Coxswain
                    {% else %}
                        Rower
                    {% endif %}
                </td>
                {% if user.grade %}
                    <td>{{ user.grade }}</td>
                {% else %}
                    <td>No information</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr id="emptyMessage" style="display:none;">
                <td colspan="3">No Results Found.</td>
            </tr>
        </tbody>
    </table>

    
{% endblock%}