{% extends 'layout.html' %}

{% block title %}ThisWasCRInteractive{% endblock title %}

{% block main %}
<h1 style="color: rgb(177, 23, 49); font-weight: bold; border-bottom: 2px solid black;">This Was CRInteractive</h1>
<h5>January 27th, 2023</h5>
<p>Dear CRInteractive community,</p>
<p>On January 15th, 2023, users trying to log into their accounts encountered an unexpected error message that blocked access to their accounts. We later found that our database provider had suspended the service that hosts our database. Consequently, all data logged over the past 18 months has been lost and cannot be restored.</p>
<p>Sadly, CRInteractive will also be suspending its service as of today. We are delighted with the personal and community-wide impact the website had during its service, and we want to thank you for joining us on this journey!</p>
<p>If you’d like to read more about the specifics about what it was like creating and maintaining  CRInteractive, we’ve written a more in depth post <a href="/">here</a>.</p>
<p>All the best,</p>
<p><a href="mailto:albert.astrom@me.com">Albert</a> and <a href="mailto:hector.astrom@me.com">Hector</a> Astrom</p>
<p>Creators of CRInteractive, Bleeders of Red</p>

{% endblock main %}
