{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block main %}
    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ image_file }}" alt="Profile Image" class="rounded-circle account-img">
                </div>
                <div class="col-sm-4">
                    <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
                    <p><strong>Grade: </strong>{% if user.grade %}{{ user.grade }}{% else %}No grade{% endif %}</p>
                    <p><strong>Team: </strong>{% if user.team != "none" %}{{ user.team }}{% else %}No team{% endif %}</p>
                    <p><strong>Side: </strong>{% if user.side != "none" %}{{ user.side }}{% else %}No side{% endif %}</p>
                    {% if user.height %}
                    <p><strong>Height: </strong>{{ (user.height / 12) | int }}'{{ user.height % 12 }}"</p>
                    {% endif %}
                    {% if user.weight %}
                    <p><strong>Weight: </strong>{{ user.weight }}lbs</p>
                    {% endif %}
                    </div>
                <div class="col-sm-4">
                    <h2>Scores</h2>
                    <p><strong>2k PR: </strong>{{ twok }}</p>
                    <p><strong>5k PR: </strong>{{ fivek }}</p>
                </div>
            </div>
        </div>
        <p class="border-bottom border-dark mt-3"></p>
        {% if current_user.id == user.id and not current_user.pinged %}
        <h5>Request for a coach to review your profile</h5>
        <div>
            <form method="POST" action="">
                <div class="form-group col">
                    <button type="submit" class="btn btn-outline-primary rounded-pill" >Request Review</button>
                </div>
            </form>
        </div>
        {% else %}
        <h5>Request for a coach to review your profile</h5>
        <div>
            <form method="POST" action="">
                <small class="form-text text-muted ml-4">Request is active.</small>
                <div class="form-group col">
                    <button type="submit" class="btn btn-outline-primary rounded-pill" disabled="true">Request Review</button>
                </div>
            </form>
        </div>
        {% endif %}

        {% if current_user.id != user.id or not all_metrics %}
        <div class="border-bottom border-dark mt-3"></div>
        {% endif %}
        
        <!-- If viewing their own page as a non-coach -->
        {% if current_user.id == user.id and all_metrics %}
        <legend class="border-bottom border-dark mt-3" style="font-weight: 600;">Ratings Shared by Coaches</legend>
        <p><span style="color:rgb(178,34,34); font-weight: bold;">Red</span> means that you up to the 25th percentile for that metric. <span style="color:rgb(255,69,0); font-weight: bold;">Orange</span> means you are up to the 50th percentile for that metric. <span style="color:rgb(34,139,34); font-weight: bold;">Green</span> means up to 85 percentile, and <span style="color:rgb(218,165,32); font-weight: bold;">Gold</span> means you are top 15 percentile for that metric.</p>
        <svg width="0" height="0">
            <defs>
                <linearGradient id="CurveGradient" x1="0" x2=".75" y1="0" y2="0">
                    <stop offset="50%" stop-color="rgba(223,23,34,.5)"/>
                    <stop offset="100%" stop-color="rgba(223,23,200,.5)"/>
                </linearGradient>
            </defs>
        </svg>
        <script>
            {% for metric in all_metrics %}
                drawUserBellCurve("{{ metric.tag }}", "{{ metric.name }}", "{{ metric.desc }}", {{ metric.coach_rating }}, {{ metric.coach_importance }}, "{{ user.firstname }}")
            {% endfor %}
        </script>
        {% endif %}

        <!-- If the user is viewing themselves -->
        {% if current_user.id == user.id %}
            <!-- Add personal charts -->
        {% endif %}
    </div>
{% endblock main %}