{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block main %}
    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ image_file }}" alt="Profile Image" class="rounded-circle account-img">
                </div>
                <div class="col-sm-4">
                    <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
                    <p><strong>Grade: </strong>{% if user.grade != "none" %}{{ user.grade }}{% else %}"No grade"{% endif %}</p>
                    <p><strong>Team: </strong>{% if user.team != "none" %}{{ user.team }}{% else %}"No team"{% endif %}</p>
                    <p><strong>Side: </strong>{% if user.side != "none" %}{{ user.side }}{% else %}"No side"{% endif %}</p>
                    {% if user.height %}
                    <p><strong>Height: </strong>{{ (user.height / 12) | int }}'{{ user.height % 12 }}"</p>
                    {% endif %}
                    {% if user.weight %}
                    <p><strong>Weight: </strong>{{ user.weight }}lbs</p>
                    {% endif %}
                    </div>
                <div class="col-sm-4">
                    <h2>Scores</h2>
                    <p><strong>2k PR: </strong>{{ twok }}</p>
                </div>
            </div>
          </div>
          {% if current_user.id != user.id or not technique.view_allowed %}
          <div class="border-bottom border-dark mt-3"></div>
          {% endif %}
        
        <!-- If viewing their own page as a non-coach -->
        {% if current_user.id == user.id and technique.view_allowed %}
        <legend class="border-bottom border-dark mt-3" style="font-weight: 600;">View Coach Ratings</legend>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#techniquemodal">
            View Coach's Technique Rating
        </button>
          
          <!-- Modal -->
          <div class="modal fade" id="techniquemodal" tabindex="-1" role="dialog" aria-labelledby="techniquemodallabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="todaymodellabel">Technique Curve for {{ user.firstname }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p class="form-text text-muted text-center">Technique</p>
                    <svg
                        width="100%"
                        height="100%"
                        viewBox="0 -3 320 210"
                        version="1.1"
                        id="svg5"
                        style="margin-bottom:-36%;"
                        class = "mt-2"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:svg="http://www.w3.org/2000/svg">
                        <defs
                            id="defs2">
                            <linearGradient id="Gradient1" x1="0" x2=".75" y1="0" y2="0">
                                <stop offset="50%" stop-color="rgba(223,23,34,.7)"/>
                                <stop offset="100%" stop-color="rgba(223,147,23,.7)"/>
                            </linearGradient>
                        </defs>
                        <g
                            id="layer2">
                            <path
                            style="fill: url(#Gradient1);fill-opacity:0.529138;stroke:rgba(0, 0, 0, .6);stroke-width:2.365;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                            d="m 43.19351,92.098556 c 0,0 19.633412,1.07091 37.48197,-11.42308 17.848559,-12.49399 32.48437,-36.054082 32.48437,-36.054082 0,0 17.55469,-24.234497 20.41046,-27.528229 2.0916,-2.412365 10.16471,-12.6418523 21.58779,-12.2848823 11.42307,0.356971 18.32988,5.1869094 24.39839,12.6833043 6.06851,7.496392 28.11147,38.775991 28.11147,38.775991 0,0 19.6434,24.001346 27.35292,27.888368 7.66874,3.866459 10.50607,5.916948 30.90469,7.18536"
                            id="tech_coach_curve" />
                        </g>
                        <circle
                            r="6"
                            cy="0"
                            cx="0"
                            id="tech_coach_dot"
                            style="fill: rgba(177, 23, 49, .8)" />
                    </svg>
                    <script>
                        window.onload = () => {
                            let dot = document.getElementById('tech_coach_dot');
                            let curve = document.getElementById('tech_coach_curve');
                            let totalLength = curve.getTotalLength();
                            let displacement = 0

                            var portion = {{ technique.coach_rating }}/100.0 + displacement;
                            var coordinates = curve.getPointAtLength(portion * totalLength);
                            dot.setAttribute("transform", `translate(${coordinates.x}, ${coordinates.y})`);
                        }
                    </script>

                </div>
                <div class="modal-footer" style="margin-top: 50px;">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <!-- If the user is viewing themselves -->
        {% if current_user.id == user.id %}
            <!-- Add personal charts -->
        {% endif %}
    </div>
{% endblock main %}