{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block main %}
    <div class="content-section">
        {% if user == current_user and ((not current_user.is_coxswain and current_user.side == "none") or not current_user.grade) %}
            <div style = "position:relative; margin-bottom: 40px;" class = "alert alert-info show">
                Your account isn't fully set up yet. Head to <a href="{{ url_for('settings') }}">Settings</a> to customize your profile.
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ image_file }}" alt="Profile Image" class="rounded-circle account-img">
                </div>
                <div class="col-sm-4">
                    <h2 class="account-heading">{{ user.firstname }} {{ user.lastname }}</h2>
                    <p><strong>Grade: </strong>{% if user.grade %}{{ user.grade }}{% else %}No grade{% endif %}</p>
                    <p><strong>Team: </strong>{% if user.team != "none" %}{{ user.team }}{% else %}No team{% endif %}</p>
                    {% if not user.is_coxswain %}
                    <p><strong>Side: </strong>{% if user.side == "Port" or user.side == "Starboard" %}{{ user.side }}{% elif user.side == "BothP" %}Both (Port Preference){% elif user.side == "BothS" %}Both (Starboard Preference){% else %}No side{% endif %}</p>
                    {% endif %}
                    {% if user.height %}
                    <p><strong>Height: </strong>{{ (user.height / 12) | int }}'{{ user.height % 12 }}"</p>
                    {% endif %}
                    {% if user.weight %}
                    <p><strong>Weight: </strong>{{ user.weight }}lbs</p>
                    {% endif %}
                    </div>
                    {% if not user.is_coxswain %}
                        <div class="col-sm-4">
                            <h2>Scores</h2>
                            <p><strong>2k PR: </strong>{{ twok }}</p>
                            <p><strong>5k PR: </strong>{{ fivek }}</p>
                        </div>
                    {% endif %}
            </div>
        </div>
        {% if current_user.id == user.id %}
            <p class="border-bottom border-dark mt-3"></p>
            {% if current_user.id == user.id and not current_user.pinged %}
            <h5>Request for a coach to review your profile</h5>
            <div>
                <form method="POST" action="">
                    <div class="form-group ">
                        <input type="hidden" name="form_identifier" value="ping">
                        <button type="submit" class="btn btn-outline-primary rounded-pill" >Request Review</button>   
                    </div>
                </form>
            </div>
            {% else %}
            <h5 id="krustycrab">Request for a coach to review your profile</h5>
            <div>
                <form method="POST" action="">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success rounded-pill" disabled="true">Requested</button>
                    </div>
                </form>
            </div>
            {% endif %}
        {% endif %}

        {% if current_user.id != user.id or not all_metrics %}
        <div class="border-bottom border-dark mt-3"></div>
        {% endif %}

        {% if current_user.id == user.id and not all_metrics %}
            <div style = "position:relative;" class = "alert alert-info show">
                Metrics shared by coaches will appear here. If you don't have any metrics a week after creating your account, request a review. 
            </div>
            <div class="row justify-content-center mt-4">
                <iframe id="tutorial" frameborder="0" allowfullscreen
                src="https://www.youtube.com/embed/4w8IB8kqKDA">
                </iframe>
            </div>
        {% endif %}
        
        <!-- If viewing their own page as a non-coach -->
        {% if current_user.id == user.id and all_metrics %}
        <legend class="border-bottom border-dark mt-3" id="krustycrab" style="font-weight: 600;">Ratings Shared by Coaches 
            <a id="metric-info" 
            data-toggle="popover" 
            data-trigger="hover" 
            data-placement="top" 
            data-html="true" 
            title="Colors and Sorting" 
            data-content="Metrics are sorted by by descending importance level. Therefore, <u>the metric at the top should be your primary focus</u>. The more blue a metric button is, the more competent you are for that metric. <u>Your rating for a metric is based off your subjective compentency on your team at CRI.</u>"><img id="inf" src="{{ url_for('static',filename='info-icon.png') }}"/></a> 
        </legend>
        <svg width="0" height="0">
            <defs>
                <linearGradient id="CurveGradient1" x1="0" x2=".75" y1="0" y2="0">
                    <stop offset="50%" stop-color="rgba(233,23,34,.5)"/>
                    <stop offset="100%" stop-color="rgba(223,23,200,.5)"/>
                </linearGradient>
                <linearGradient id="CurveGradient2" x1="0" x2=".75" y1="0" y2="0">
                    <stop offset="50%" stop-color="rgba(89,164,235,.5)"/>
                    <stop offset="100%" stop-color="rgba(23,50,189,.5)"/>
                </linearGradient>
            </defs>
        </svg>
        <script>
            let has_update = false
            {% for metric in all_metrics %}
                {% if metric.has_update %}
                    has_update = true
                {% else %}
                    has_update = false
                {% endif %}
                drawUserBellCurve(has_update, `{{ metric.tag }}`, `{{ metric.name }}`, `{{ metric.desc }}`, {{ metric.coach_rating }}, {{ metric.coach_importance }}, {{ metric.user_rating }}, `{{ metric.note }}`, `{{ user.firstname }}`);
            {% endfor %}
        </script>
        {% endif %}

        <!-- If the user is viewing themselves -->
        {% if current_user.id == user.id %}
            <!-- Add personal charts -->
        {% endif %}
    </div>
{% endblock main %}